.CharComponent {
    display: inline-block;
    font-size: 12pt;
    padding: 16px;
    text-align: center;
    margin: 16px;
    height: 25px;
    width: 25px;
    min-height: 25px;
    border: 1px solid black;
    transition: 0.33s ease-out;
}

.CharComponent:hover {
    border: 1px solid blue;
    background-color: lightgrey;
    font-weight: bold;
}